# streamlit 
gradio
gradio_image_annotation
PyMuPDF
openai
qwen_vl_utils
transformers==4.51.3
huggingface_hub
modelscope
flash-attn==2.8.0.post2
accelerate

##graphsampling
numpy>=1.26,<2


svgpathtools>=1.6.1
Pillow>=10.0.0
PyYAML>=6.0
tqdm>=4.66.0

##cas
fastapi
uvicorn
pydantic>=2
httpx
python-dotenv
sympy
openai>=1.40.0
loguru>=0.7

##AWQ postproc
autoawq

## config parsing
toml

manim>=0.18.0  # For Manim animation rendering